<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person">

	<insert id="insertPerson" parameterType="Map" useGeneratedKeys="true" keyProperty="prsnNo" keyColumn="prsnNo"  >
		INSERT INTO  /* insertPerson */ T_PMS003
			(prsn_no, prsn_nm, jumin_no1, jumin_no2, sex_cd, acdmc_cd, work_start_dt, cert_cd, rsdnc_addr, cntrct_sect_cd, 
			law_rgt_no1, law_rgt_no2, biz_rgt_no, law_biz_nm, ceo_nm, prsn_email_addr, tel_no, hp_no, tr_bank_nm, tr_acct_no, 
			tr_dpstr_nm, pay_day_cd, memo_desc, prfl_atcht_fl_no, rgt_tm, rgtr_id, upt_tm, uptr_id) 
		VALUES
			(#{prsnNo}, #{prsnNm}, #{juminNo1}, #{juminNo2}, #{sexCd}, #{acdmcCd}, #{workStartDt}, #{certCd}, #{rsdncAddr}, #{cntrctSectCd},
			 #{lawRgtNo1}, #{lawRgtNo2}, #{bizRgtNo}, #{lawBizNm}, #{ceoNm}, #{prsnEmailAddr}, #{telNo}, #{hpNo}, #{trBankNm}, #{trAcctNo},
			 #{trDpstrNm}, #{payDayCd}, #{memoDesc}, #{prflAtchtFlNo}, NOW(), #{rgtrId}, NOW(), #{uptrId})

	</insert>	
	
	<update id="updatePerson" parameterType="person">
		UPDATE  /* updatePerson */
			T_PMS003 
		SET	
			<if test="prsnNo != null and prsnNo !=''">prsn_no = #{prsnNo}</if>
			<if test="prsnNm != null and prsnNm !=''">,prsn_nm = #{prsnNm}</if>
			<if test="juminNo1 != null and juminNo1 !=''">,jumin_no1 = #{juminNo1}</if>
			<if test="juminNo2 != null and juminNo2 !=''">,jumin_no2 = #{juminNo2}</if>
			<if test="sexCd != null and sexCd !=''">,sex_cd = #{sexCd}</if>
			<if test="acdmcCd != null and acdmcCd !=''">,acdmc_cd = #{acdmcCd}</if>
			<if test="workStartDt != null and workStartDt !=''">,work_start_dt = #{workStartDt}</if>
			<if test="certCd != null and certCd !=''">,cert_cd = #{certCd}</if>
			<if test="rsdncAddr != null and rsdncAddr !=''">,rsdnc_addr = #{rsdncAddr}</if>
			<if test="cntrctSectCd != null and cntrctSectCd !=''">,cntrct_sect_cd = #{cntrctSectCd}</if>
			<if test="lawRgtNo1 != null and lawRgtNo1 !=''">,law_rgt_no1 = #{lawRgtNo1}</if>
			<if test="lawRgtNo2 != null and lawRgtNo2 !=''">,law_rgt_no2 = #{lawRgtNo2}</if>
			<if test="bizRgtNo != null and bizRgtNo !=''">,biz_rgt_no = #{bizRgtNo}</if>
			<if test="lawBizNm != null and lawBizNm !=''">,law_biz_nm = #{lawBizNm}</if>
			<if test="ceoNm != null and ceoNm !=''">,ceo_nm = #{ceoNm}</if>
			<if test="prsnEmailAddr != null and prsnEmailAddr !=''">,prsn_email_addr = #{prsnEmailAddr}</if>
			<if test="telNo != null and telNo !=''">,tel_no = #{telNo}</if>
			<if test="hpNo != null and hpNo !=''">,hp_no = #{hpNo}</if>
			<if test="trBankNm != null and trBankNm !=''">,tr_bank_nm = #{trBankNm}</if>
			<if test="trAcctNo != null and trAcctNo !=''">,tr_acct_no = #{trAcctNo}</if>
			<if test="trDpstrNm != null and trDpstrNm !=''">,tr_dpstr_nm = #{trDpstrNm}</if>
			<if test="payDayCd != null and payDayCd !=''">,pay_day_cd = #{payDayCd}</if>
			<if test="memoDesc != null and memoDesc !=''">,memo_desc = #{memoDesc}</if>
			<if test="prflAtchtFlNo != null and prflAtchtFlNo !=''">,prfl_atcht_fl_no = #{prflAtchtFlNo}</if>
			,upt_tm =  NOW()
			,uptr_id = #{uptrId}
		WHERE	
			prsn_no = #{prsnNo}
	</update>
		
	<delete id="deletePerson" parameterType="person">
		DELETE /* deletePerson */
		FROM
			T_PMS003 
		WHERE	
			prsn_no = #{prsnNo}
	</delete>	
	
	<select id="selectPerson" parameterType="person" resultType="person">
		SELECT	 /* selectPerson */
			prsn_no AS prsnNo,
			prsn_nm AS prsnNm,
			jumin_no1 AS juminNo1,
			jumin_no2 AS juminNo2,
			sex_cd AS sexCd,
			acdmc_cd AS acdmcCd,
			work_start_dt AS workStartDt,
			cert_cd AS certCd,
			rsdnc_addr AS rsdncAddr,
			cntrct_sect_cd AS cntrctSectCd,
			law_rgt_no1 AS lawRgtNo1,
			law_rgt_no2 AS lawRgtNo2,
			biz_rgt_no AS bizRgtNo,
			law_biz_nm AS lawBizNm,
			ceo_nm AS ceoNm,
			prsn_email_addr AS prsnEmailAddr,
			tel_no AS telNo,
			hp_no AS hpNo,
			tr_bank_nm AS trBankNm,
			tr_acct_no AS trAcctNo,
			tr_dpstr_nm AS trDpstrNm,
			pay_day_cd AS payDayCd,
			memo_desc AS memoDesc,
			prfl_atcht_fl_no AS prflAtchtFlNo,
			rgt_tm AS rgtTm,
			rgtr_id AS rgtrId,
			upt_tm AS uptTm,
			uptr_id AS uptrId,
			(SELECT ATCHT_FL_ORGNL_NM FROM T_PMS005 where ATCHT_FL_NO=prfl_atcht_fl_no) AS fileName,
			(select group_concat(AA.skill_sect_cd ORDER BY AA.skill_sect_cd DESC ) from   T_PMS004 AA where AA.prsn_no = #{prsnNo})  AS skillSectCd
			
		FROM
			T_PMS003
		WHERE 1 = 1		
		AND	prsn_no = #{prsnNo}
	</select>
	
	<select id="selectListPerson" parameterType="Map" resultType="tMap">
	SELECT	/* selectListPerson */    
  			max(prsn_no) AS prsnNo,
			max(prsn_nm) AS prsnNm,
			max(jumin_no1) AS juminNo1,
			max(jumin_no2) AS juminNo2,
			max(sex_cd) AS sexCd,
			max(acdmc_cd) AS acdmcCd,
			max(work_start_dt) AS workStartDt,
			max(cert_cd) AS certCd,
			max(rsdnc_addr) AS rsdncAddr,
			max(cntrct_sect_cd) AS cntrctSectCd,
			max(law_rgt_no1) AS lawRgtNo1,
			max(law_rgt_no2) AS lawRgtNo2,
			max(biz_rgt_no) AS bizRgtNo,
			max(law_biz_nm) AS lawBizNm,
			max(ceo_nm) AS ceoNm,
			max(prsn_email_addr) AS prsnEmailAddr,
			max(tel_no) AS telNo,
			max(hp_no) AS hpNo,
			max(tr_bank_nm) AS trBankNm,
			max(tr_acct_no) AS trAcctNo,
			max(tr_dpstr_nm) AS trDpstrNm,
			max(pay_day_cd) AS payDayCd,
			max(memo_desc) AS memoDesc,
			max(prfl_atcht_fl_no) AS prflAtchtFlNo,
			max(rgt_tm) AS rgtTm,
			max(rgtr_id) AS rgtrId,
			max(upt_tm) AS uptTm,
			max(uptr_id) AS uptrId,      
			<!-- group_concat(AA.skill_sect_cd ORDER BY AA.skill_sect_cd DESC ) AS skillSectCd, -->
			
			(select group_concat(C.skill_sect_cd ORDER BY C.skill_sect_cd DESC ) from   T_PMS004 C where C.prsn_no = AA.PRSN_NO)  AS skillSectCd,
			
			CAST(CONCAT( (TIMESTAMPDIFF(MONTH, max(work_start_dt), now()) DIV 12) ,'년 ', (TIMESTAMPDIFF(MONTH, max(work_start_dt), now()) % 12) , '개월') AS CHAR) AS totalWork,
			
            DATE_FORMAT('20151221', '%Y-%m-%d')  as lastWorkStartDt,
            DATE_FORMAT('20151221', '%Y-%m-%d')  as lastWorkEndDt 
<!--        (SELECT max(WORK_START_DT) FROM C.T_PMS008 WHERE C.prsn_no = AA.prsn_no),
            (SELECT max(WORK_END_DT) FROM C.T_PMS008 WHERE C.prsn_no = AA.prsn_no) -->
	FROM
        (
        SELECT	
			A.*
            , B.skill_sect_cd
		FROM
			T_PMS003 A left outer join T_PMS004 B  on A.prsn_no = B.prsn_no
		WHERE 1 = 1	
        <include refid="listWhere"/>
		) AA
	GROUP BY AA.PRSN_NO	
	ORDER BY
		AA.PRSN_NO DESC    	
   	<if test="pageSize != null and pageSize != -1">
	LIMIT ${start}, ${pageSize}
	</if>		
	
	</select>
	
	<select id="selectCntPerson" parameterType="Map" resultType="int">
		SELECT /* selectCntPerson */
			COUNT(1)
		FROM
        (
	        SELECT	
				A.*
	            , B.skill_sect_cd
			FROM
				T_PMS003 A left outer join T_PMS004 B on A.prsn_no = B.prsn_no
			WHERE 1 = 1	
			 <include refid="listWhere"/>
	        GROUP BY A.PRSN_NO	
	       
		) AA
		
	</select>
	
	
	<sql id="listWhere">	
		<if test="prsnNm != null and prsnNm != ''">AND prsn_nm LIKE CONCAT('%', #{prsnNm}, '%')</if>
		<if test="sexCd != null and sexCd != ''">AND sex_cd = #{sexCd}</if>
		<if test="acdmcCd != null and acdmcCd != ''">AND acdmc_cd = #{acdmcCd}</if>		
		<if test="workStart != null and workStart != ''">AND DATEDIFF(now(),work_start_dt)/12/30 &gt;= #{workStart}</if>
		<if test="workEnd != null and workEnd != ''">AND DATEDIFF(now(),work_start_dt)/12/30 &lt;= #{workEnd}</if>			
		<if test="rsdncAddr != null and rsdncAddr != ''">AND rsdnc_addr LIKE CONCAT('%', #{rsdncAddr}, '%')</if>
		<if test="skillSectCd != null and skillSectCd != ''">
			AND skill_sect_cd in 
			<foreach item="item" index="index" collection="skillSectCd" open="(" separator="," close=")">
			 #{item}
			 </foreach>
		</if>
	</sql>

</mapper>