<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="saledemand">

	
	
	<update id="updateSaleDemand" parameterType="saleDemand">
		UPDATE  /* updateSaleDemand */
			T_PMS010 
		SET
			<if test="dmndDate != null and dmndDate !=''">dmnd_date = #{dmndDate},</if>
			<if test="dmndCd != null and dmndCd !=''">dmnd_cd = #{dmndCd},</if>
			<if test="rmlrkDesc != null and rmlrkDesc !=''">rmlrk_desc = #{rmlrkDesc},</if>
			<if test="supplyAmt != null and supplyAmt !=''">supply_amt = #{supplyAmt},</if>
			<if test="taxAmt != null and taxAmt !=''">tax_amt = #{taxAmt},</if>
			<if test="examCfrmYn != null and examCfrmYn !=''">exam_cfrm_yn = #{examCfrmYn},</if>
			<if test="memoDesc != null and memoDesc !=''">memo_desc = #{memoDesc},</if>
			<if test="billIssueDt != null and billIssueDt !=''">bill_issue_yn = 'Y',</if>
			<if test="billIssueDt == null or billIssueDt ==''">bill_issue_yn = 'N',</if>
			bill_issue_dt = #{billIssueDt},
			<if test="dpstDt != null and dpstDt !=''">dpst_yn = 'Y',</if>
			<if test="dpstDt == null or dpstDt ==''">dpst_yn = 'N',</if>
			dpst_dt = #{dpstDt},
			upt_tm =  NOW(),
			uptr_id = #{uptrId}
		WHERE	cntrct_cd = #{cntrctCd}
		AND	dmnd_seq_no = #{dmndSeqNo}		
	</update>
	
	

</mapper>