<!DOCTYPE html>
<html lang="en">

<head>
	#parse("common/commonScript.vm") 
	<script src="/${contextPath}/htdocs/js/person/personPop.js"></script>
	
	<script src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.colVis.min.js "></script>
	<link href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
 
	<style>
	
	.dataTables_wrapper .dataTables_length {
	    position: relative;
	    text-align: left;
	    float:left; 
	}
	
	.dataTables_wrapper .dt-buttons {
	  float:right;  
	  text-align:right;
	}
	
	.table-responsive table> tbody > tr > th {
     vertical-align: middle;
     padding: 6px;
	}

	.table-responsive table> tbody > tr > td {
     padding: 6px;
	}
	</style>
	 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">   
</head>

<body>


           <!-- 검색박스 -->
            <div class="row"  id="searchBox">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Search Form Elements
                        </div>
                        <div class="panel-body">
                        	<form role="form" class="form-inline"  id="sf"  name="sf"  >
	                        	<input type="hidden" name="searchType" value="like" />
		                        <input type="hidden" name="orderElement" value="user_id" />
		                        <input type="hidden" name="orderType" value="ASC" />
                        		
                        		<div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th width="15%">성명</th>
                                            <td width="35%" ><input type="text" class="form-control" placeholder="" name="prsnNm"></td>
                                            <th width="15%">성별</th>
                                            <td width="35%" id="sexCdTdSf"></td>
                                        </tr>
                                        <tr>
                                            <th width="15%">학력</th>
                                            <td width="35%"><select class="form-control selectWidth" style="width:auto;" id="acdmcCdSf" name="acdmcCd"/></td>
                                            <th width="15%">경력</th>
                                            <td width="35%">
                                            
											<div class="form-inline">
                                            	 <div class="form-group">
												 	<input type="text" style="width:50px;" name="workStart" class="input-sm form-control" />
												 </div>
										          -
										          <div class="form-group">
										            <input type="text" style="width:50px;"  name="workEnd" class="input-sm form-control" />
										          </div>
                                             	</div>
                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <th width="15%">분야</th>
                                            <td width="35%" id="skillSectCdTdSf"></td>
                                            <th width="15%">거주지</th>
                                            <td width="35%"><input type="text" class="form-control" placeholder="" name="rsdncAddr"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        		
                        		
                        		
                        		
                        		<button type="button" class="btn btn-primary pull-right" id="btnSearch">조회</button>
	                            
                         	</form>
                        </div>                       
                    </div>                   
                </div>               
            </div>
            <!-- 검색박스 종료-->

	        
            <!-- 테이블 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body"> 
                            <div class="dataTable_wrapper">
                                <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover" id="dataTables-person">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>성명</th>
                                            <th>분야</th>
                                            <th>프로젝트시작일</th>
                                            <th>프로젝트종료일</th>
                                            <th>총경력</th>
                                            <th>계약구분</th>
                                            <th>학력</th>
                                            <th>휴대폰</th>
                                            <th>이메일</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>                                    
                                </table>
                            </div>
                            <!-- /.table-responsive -->                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- 테이블종료 -->
                      <div class="row text-center">
                                   <button type="button" class="btn btn-default " id="btnSelect">선택</button>
                                    <button type="button" class="btn btn-default " id="btnClose">닫기</button>                              
                        	</div>
            
            <!-- 디테일화면 -->
            <div class="row" style="display: none;" id="detail">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	상세 입력
                        </div>
                        <div class="panel-body">
                        	<form role="form" name="f" id="f" method="post">
                        	<input type="hidden" id="prsnNo" name="prsnNo">
                        	
                        	
                        	<h5 class="text-primary" class="text-primary">인력정보</h5>
                        	<div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <th width="15%">계약구분</th>
                                            <td width="35%" ><p id="cntrctSectCd"/></td>
                                            <th width="15%">성명</th>
                                            <td width="35%"><label id="prsnNm"/></td>
                                        </tr>
                                        <tr>
                                            <th width="15%">학력</th>
                                            <td width="35%"><label id="acdmcCd"></td>
                                            <th width="15%">주민번호</th>
                                            <td width="35%"><label id="juminNo1"> - <label id="juminNo2"></td>
                                        </tr>
                                        <tr>
                                            <th width="15%">주소</th>
                                            <td colspan="3"><label id="rsdncAddr"></td>
                                        </tr>
                                        <tr>
                                            <th width="15%">성별</th>
                                            <td width="35%" id="sexCdTd"><label id="sexCd"> </td>
                                            <th width="15%">기사자격증구분</th>
                                            <td width="35%" id="certCdTd"><label id="certCd"> </td>
                                        </tr>
                                        <tr>
                                            <th width="15%">분야</th>
                                            <td colspan="3" id="skillSectCdTd"><label id="skillSectCd"> </td>
                                        </tr>
                                        <tr>
                                            <th width="15%">이메일</th>
                                            <td width="35%"><label id="prsnEmailAddr"></td>
                                            <th width="15%">경력시작일</th>
                                            <td width="35%"><label id="workStartDt"></td>
                                        </tr>
                                        <tr>
                                            <th width="15%">연락처</th>
                                            <td width="35%"><label id="telNo"></td>
                                            <th width="15%">휴대폰번호</th>
                                            <td width="35%"><label id="hpNo"> </td>
                                        </tr>
                                        <tr>
                                            <th width="15%">프로필</th>
                                            <td colspan="3"><label id="profile"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        	
                                               	
                        	<h5 class="text-primary">최종프로젝트정보</h5>
                         	<div class="table-responsive">
                                <table class="table table-bordered table-striped" id="ttt">
                                    <tbody>
                                        <tr>
                                            <th width="15%">프로젝트명</th>
                                            <td width="35%" ><label id="b"></label></td>
                                            <th width="15%">수행기간</th>
                                            <td width="35%"><label id="b"></label></td>
                                        </tr>
                                        <tr>
                                            <th width="15%">매입용역비(단가)</th>
                                            <td width="35%" colspan="3">
                                            	 <label id="b"></label>                                     
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                        	
                        	
                        
                           
                        
                        
                        
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!--디테일 종료-->
            
  
     


</body>
	
</html>
