<!DOCTYPE html>
<html lang="en">

<head>
	#parse("common/commonScript.vm")
	<script src="/${contextPath}/htdocs/js/index/main.js"></script> 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        
		#parse("common/header.vm")
		#parse("common/menu.vm")

        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <div class="row">
            	<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	프로젝트 정보
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body"> 
            
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-primary">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-comments fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge" id="prjtTotalCnt">0</div>
			                                    <div>총 프로젝트 건수!</div>
			                                </div>
			                            </div>
			                        </div>
			                        <a href="#">
			                            <div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                </div>
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-green">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-tasks fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge" id="prjtNoCfrmCnt">0</div>
			                                    <div>미확정 프로젝트</div>
			                                </div>
			                            </div>
			                        </div>
			                        <a href="#">
			                            <div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                </div>
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-yellow">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-desktop fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge" id="prjtIngCnt">0</div>
			                                    <div>진행프로젝트건수!</div>
			                                </div>
			                            </div>
			                        </div>
			                        <a href="#">
			                            <div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                </div>
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-red">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-support fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge" id="prjtEndCnt">0</div>
			                                    <div>종료프로젝트건수!</div>
			                                </div>
			                            </div>
			                        </div>
			                        <a href="#">
			                            <div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                </div>
			            </div>
			            <!-- /.row -->
        
         			</div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
            
            
            
            <div class="row">
				<div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	 계약관리
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="alert alert-success">
                            	매출 미계약건수/금액 : <span id="saleContNoCfrmCnt"></span>건/<span id="saleContNoCfrmAmt"></span>원   
                            </div>
                            <div class="alert alert-info">
                               	 매입 미계약건수/금액 : <span id="purchaseContNoCfrmCnt"></span>건/<span id="purchaseContNoCfrmAmt"></span>원   
                            </div>
                             <!--
                            <div class="alert ">
                            	&nbsp;
                            </div>
                            <div class="alert ">
                            	&nbsp;
                            </div>
                             -->
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            
            	<div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							매출/매입관리
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="alert alert-warning">
 								매출 금월 청구건수/금액 : <span id="saleDmndCnt"></span>건/<span id="saleDmndAmt"></span>원   
                            </div>
                            <div class="alert alert-warning">
								매출 금월 미입급건수/금액 : <span id="saleNoDpstCnt"></span>건/<span id="saleNoDpstAmt"></span>원   
                            </div>
                            <div class="alert alert-danger">
								매입 금월 청구받은건수/금액 : <span id="purchaseDpstCnt"></span>건/<span id="purchaseDpstAmt"></span>원   
                            </div>
                            <div class="alert alert-danger">
								매입 금월 미지급건수/금액: <span id="purchaseNoDpstCnt"></span>건/<span id="purchaseNoDpstAmt"></span>원   
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
            </div>
       
       
       
       
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

</body>

</html>
