<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth">
	<cache eviction="LRU" flushInterval="60000" size="10" readOnly="true" />

	<select id="selectUserAuthInfo" parameterType="auth" resultType="auth">
		SELECT /* selectUserAuthInfo */
			user_id AS userId,
			tenant_id AS tenantId,
			login_id AS loginId,
			user_name AS userName,
			phone AS phone,
			email AS email,
			allow_menu AS allowMenu,
			rights_type AS rightsType
		FROM
			T_PMS021
		WHERE 1 = 1
		AND is_Del = 'N'
		AND is_Use = 'Y'
		AND login_Id = #{loginId}
		AND login_Pw = #{passwdByCrypt}
	</select>


	<select id="selectUserAuthInfoOld" parameterType="auth" resultType="auth">
		SELECT /* selectUserAuthInfoOld */
			AA.userId, AA.businessId, AA.loginId,
			AA.passwd, AA.userName, AA.rightsType
		FROM
			user AA
		WHERE 1 = 1
		AND AA.isDel = 'N'
		AND AA.isUse = 'Y'
		AND AA.loginId = #{loginId}
		AND AA.passwd = #{passwdByCrypt}
	</select>
	
	<select id="selectDeviceAuthInfo" parameterType="auth" resultType="auth">
		SELECT /* selectDeviceAuthInfo */
			AA.businessId, AA.deviceId
		FROM
			device AA
		WHERE
			isDel = 'N'
		<if test="deviceId != null">AND deviceId = #{deviceId}</if>	
	</select>
	
	<select id="selectSecurityInfo" resultType="tMap" useCache="true">
		SELECT /* selectSecurityInfo */
			ip, securityDesc
		FROM
			security_info
		WHERE 1 = 1
		AND isDel = 'N'	
	</select>
</mapper>